.image {
  width: 150px;
  height: 240px;
  border-radius: 0.4rem;
}

.header {
  font-size: 1.4rem;
  width: 100%;
  margin: 0.5rem;
}

.flex {
  display: flex;
  flex-direction: row;
  padding: 0.3rem 0.6rem;
}

.subtext {
  font-size: 0.8rem;
  margin: 0.2rem;
  width: 100%;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 1rem;
}

.paragraph {
  font-size: 1rem;
  margin: 0.6rem 0rem;
}
